<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingpay">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:name=".application.AppInfo"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/logointro"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logointro"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingPay">

        <service
            android:name=".application.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".views.activity.RateUsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.activity.OwnerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.activity.choosetable.ChooseTableActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tagcastscan.PaymentAcceptAnimation"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.activity.LocationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tagcastscan.MainTagCastActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tagcastscan.MainPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.activity.MainShoppingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.activity.loginregister.LoginRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.activity.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.activity.AdvertisementActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.activity.loginregister.IntroPreLogin"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6266845852869933~2922721780" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCHGUVrdEQPlBdNdE5EtxfveD_0-aHZQ3c" />
    </application>

</manifest>